<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>661012084710-gdiaukto5ti05cnkv28snbfetqve1avb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.661012084710-gdiaukto5ti05cnkv28snbfetqve1avb</string>
	<key>API_KEY</key>
	<string>AIzaSyD4PVLytq0P8sd1CJU8iMjQ0__qdfV1Yi0</string>
	<key>GCM_SENDER_ID</key>
	<string>661012084710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sihproject</string>
	<key>PROJECT_ID</key>
	<string>sihproject-f7f18</string>
	<key>STORAGE_BUCKET</key>
	<string>sihproject-f7f18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:661012084710:ios:0477efbb63667e508d8827</string>
	<key>DATABASE_URL</key>
	<string>https://sihproject-f7f18.firebaseio.com</string>
</dict>
</plist>